body{
    margin:0;
}
#fire1{
    background-image: url("images/fire1.gif");
    left:300px;
}
#fire2{
    background-image: url("images/fire2.gif");
    left:900px;
}

.fire{

    position:absolute;
    width: 300px;
    height: 300px;
    top: 200px;
    background-position: center center;
    background-size: cover;
    display: none;
}